[submodule "edk2"]
	path = edk2
	url = https://github.com/tianocore/edk2.git
	tag = edk2-stable202105
[submodule "openssl"]
	path = openssl
	url = https://github.com/openssl/openssl.git
	branch = OpenSSL_1_1_1-stable
